<%- include('layout/header') %>

<div class="container">
    <h1 style="text-align:center; margin: 5px;">Bienvenido al HotelP3</h1>
    <br>
    <div class="row">
        <div class="col-6">
            <div class="jumbotron">
                <h2 class="display-4">Registra al huésped</h2>
                <p class="lead">Registra al huésped para reservar habitación.</p>
                <hr class="my-4">
                <a href="/person" class="btn btn-primary btn-lg">Registrar</a>
            </div>
        </div>
        <div class="col-6">
            <div class="jumbotron">
                <h2 class="display-4">Lista de huéspedes</h2>
                <p class="lead">Observa la lista de huéspedes</p>
                <hr class="my-4">
                <a href="/persons" class="btn btn-primary btn-lg">Ir a la lista</a>
            </div>
        </div>
</div>

<%- include('layout/footer') %> 



    
    
