<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica 21 | PW</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Página Principal</h1>
    <h2>Práctica #22: Servidor para API parte 4</h2>
    <p>Presione <strong>Agregar persona</strong> para agregar una persona.</p>
    <a href="/person">Agregar Persona</a>
    <br>
    <p>Para ver el listado de las personas, presione <strong>Listado</strong></p>
    <a href="/persons">Listado</a>
    

</body>
</html>